@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 273 20% 18%;
    --foreground: 273 10% 90%;
    --card: 273 16% 22%;
    --card-foreground: 273 10% 90%;
    --popover: 273 16% 22%;
    --popover-foreground: 273 10% 90%;
    --primary: 265 53% 62%;
    --primary-foreground: 265 53% 15%;
    --secondary: 273 16% 25%;
    --secondary-foreground: 273 10% 90%;
    --muted: 273 16% 25%;
    --muted-foreground: 273 10% 60%;
    --accent: 320 53% 62%;
    --accent-foreground: 320 53% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 273 16% 28%;
    --input: 273 16% 28%;
    --ring: 265 53% 72%;
    --chart-1: 265 53% 62%;
    --chart-2: 320 53% 62%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 273 20% 16%;
    --sidebar-foreground: 273 10% 80%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 273 16% 25%;
    --sidebar-accent-foreground: 273 10% 95%;
    --sidebar-border: 273 16% 25%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 273 20% 18%;
    --foreground: 273 10% 90%;
    --card: 273 16% 22%;
    --card-foreground: 273 10% 90%;
    --popover: 273 16% 22%;
    --popover-foreground: 273 10% 90%;
    --primary: 265 53% 62%;
    --primary-foreground: 265 53% 15%;
    --secondary: 273 16% 25%;
    --secondary-foreground: 273 10% 90%;
    --muted: 273 16% 25%;
    --muted-foreground: 273 10% 60%;
    --accent: 320 53% 62%;
    --accent-foreground: 320 53% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 273 16% 28%;
    --input: 273 16% 28%;
    --ring: 265 53% 72%;
    --chart-1: 265 53% 62%;
    --chart-2: 320 53% 62%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 273 20% 16%;
    --sidebar-foreground: 273 10% 80%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 273 16% 25%;
    --sidebar-accent-foreground: 273 10% 95%;
    --sidebar-border: 273 16% 25%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
